body {
    display:flex;
    align-items:center;
    justify-content:center;
    height:100vh;
}

.pembungkus {
    display: grid;
    grid-template-columns: auto auto;
    width: 80%;
}

.pembungkus .kiri {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pembungkus .kiri img {
    border-radius: 50%;
    width: 60%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.pembungkus .kanan {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pembungkus .kanan h1 {
    line-height: normal;
}